<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/form_marca.css" />
  <link rel="stylesheet" href="/css/styleNav.css" />
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet" />
  <link rel="icon" href="https://i.pinimg.com/originals/74/7e/55/747e55064959e576f79edb6f2b3f5179.png"
    type="image/png" />
  <title>WPS | {{title}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet" />
</head>

<body>

  {{> components/nav}}

  <div class="father">
    {{#error}}
    <div class="divError">
      <h4 class="errorText">{{error}}</h4>
    </div>
    {{/error}}

    <div class="form_container">
      <form id="formularioMarca" action="{{action}}" method="post">
        <div class="div_form_title">
          <label class="form_title">{{title}} {{brandName}}</label>
        </div>

        <div class="form_body">

          <div class="form_grid">
            <div class="form_group">
              <label for="" class="input_title">Nombre de la marca</label>
              <input class="input_text" type="text" name="nombreMarca" id="marca" placeholder=" Nombre de la marca "
                value="{{brandName}}" />
              <div class="errorForm">
                <small id="errorNombre" class="form-text text-danger"></small>
              </div>
            </div>

            <div class="form_group">
              <label for="" class="input_title">Año de fundación</label>
              <input class="input_text" type="number" name="anoMarca" id="año" placeholder="Inserte año de creacion"
                value="{{brandYear}}" />
              <div class="errorForm">
                <small id="errorAno" class="form-text text-danger"></small>
              </div>
            </div>
          </div>

          <div class="form_grid">
            <div class="form_group">
              <label for="" class="input_title">Fundador</label>
              <input class="input_text" type="text" name="fundMarca" id="founder" placeholder="Nombre del propietario"
                value="{{brandFounder}}" />
              <div class="errorForm">
                <small id="errorFundador" class="form-text text-danger"></small>
              </div>
            </div>

            <div class="form_group">
              <label for="" class="input_title">Logo de la marca</label>
              <input class="input_text" type="url" name="imgMarca" id="imagen" placeholder="Url del logo de la marca"
                value="{{brandImage}}" />
              <div class="errorForm">
                <small id="errorImagen" class="form-text text-danger"></small>
              </div>
            </div>
          </div>

          <div class="form_grid">
            <div class="form_group">
              <label for="" class="input_title">Web de la marca</label>
              <input class="input_text" type="url" name="webMarca" id="web" placeholder="Url de la página de la marca"
                value="{{brandWeb}}" />
              <div class="errorForm">
                <small id="errorWeb" class="form-text text-danger"></small>
              </div>
            </div>

            <div class="form_group">
              <label for="" class="input_title">Jugadores</label>
              <input class="input_text" type="text" name="plaMarca" id="colaborators"
                placeholder="Ingrese sus jugadores" value="{{brandPlayers}}" />
              <div class="errorForm">
                <small id="errorPlayers" class="form-text text-danger"></small>
              </div>
            </div>
          </div>

        </div>

        <div class="confirmButton">
          <input class="botonRegistrar" type="submit" value="Registrar" href="/newBrand" id="botonRegistrar" />
          <a class="botonCancelar" href="/">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
  <script type="module" src="/script/scriptFormMarca.js" defer></script>
</body>

</html>