:root {
    --main-color: ;
    --letra-form: rgb(193, 184, 184);
    --fondo-form: #444;
    --border-form: #ffeb44;
    --fondo-input: black;
    --color-nox: rgb(114, 110, 110);
    --color-fondo: rgb(159, 169, 214);
    --color-nav: #4e5d94;
    --color-input: #2c3a6c;
}